<!DOCTYPE html>
<html lang="en">
<head>
	<title>layout</title>
	<link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
</head>
<body>

	<header class="intro-header">
	{% include 'includes/_navbar.html' %}
	<div class="container">
		{% include 'includes/_messages.html' %}
		{% block body %}{% endblock %}
	</div>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script> <script src="js/bootstrap.min.js"></script> <script> $(function(){ $('.nav-tabs a:first').tab('show'); }); </script> </body>
</body>
</html>
