{% extends 'layout.html' %}

{% block body %}
  <h1>Register</h1>
  {% from 'includes/_formhelpers.html' import render_field %}
  <div class="container">
    <form method="POST" action="">
    <div class="col-xs-12 col-lg-6 col-md-6">
        <div class="form-group">
          {{render_field(form.m1_first, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.m1_last, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.m1_email, class_="form-control")}}
        </div>
    </div>
    <div class="col-xs-12 col-lg-6 col-md-6">
        <div class="form-group">
          {{render_field(form.m2_first, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.m2_last, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.m2_email, class_="form-control")}}
        </div>
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
  </div>
{% endblock %}
